#grid {
    display: grid;
    gap: 0px;
}

.circle {
    width: 22px;
    height: 22px;
    margin: 1px;
    border-radius: 50%;
    border: 1px solid #eee;
}

#palette {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 2px;
}
